<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<h1>Online IDE</h1>

<!-- Compile Form -->
<form action="/compile" method="post">
  <label for="compileLanguage">Select Language:</label>
  <select name="language" id="compileLanguage">

    <option value="java">Java</option>
    <option value="python">Python</option>
    <option value="c">C</option>

  </select><br>
  <textarea name="code" rows="10" cols="50"></textarea><br>
  <label for="input">Enter input:</label><br>
  <textarea name="input" id="input" rows="5" cols="50"></textarea><br>
  <input type="submit" value="Compile">
</form>

<!-- Submit Form -->
<form action="/submit" method="post">
  <label for="submitLanguage">Select Language:</label>
  <select name="language" id="submitLanguage">

    <option value="java">Java</option>
    <option value="python">Python</option>
    <option value="c">C</option>

  </select><br>
  <textarea name="code" rows="10" cols="50"></textarea><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
